<h1>{{title}}</h1>
{{#if user}}
    <form action="/auth/payment" method="POST" id="paymentForm">
        <label> N° de carte bancaire spatiale :
            <input type="number" name="cardNumber">
        </label>
        <label> Cryptogramme
            <input type="number" name="cryptogramme">
        </label>
        <label> Date d'expiration
            <input type="date" name="expireDate">
        </label>

        <button type="submit">Payer</button>
    </form>
{{else}}
    <h2>Veuillez vous authentifier avant de proceder à la commande</h2>
{{/if}}
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}