<h1>{{title}}</h1>
{{#if user}}
<form action="/auth/payment" method="POST" id="paymentForm">
    <div>
        <label> N° de carte bancaire spatiale :</label>
        <input id="inputCardNum" type="number" name="cardNumber">

    </div>
    <div>
        <label> Cryptogramme :</label>
        <input id="inputCryptogramme" type="number" name="cryptogramme">

    </div>
    <div>
        <label> Date d'expiration :</label>
        <input id="inputExpDate" type="date" name="expireDate">

    </div>


    <button type="submit">Payer</button>
</form>
{{else}}
<h2>Veuillez vous authentifier avant de proceder à la commande</h2>
{{/if}}
{{#if errorMessage}}
{{errorMessage}}
{{/if}}