<h1>{{title}} 🚀</h1>
<form action="/auth/payment" method="POST">
    <label> N° de carte bancaire spatiale :
        <input type="number" name="cardNumber">
    </label>
    <label> Cryptogramme
        <input type="number" name="cryptogramme">
    </label>
    <label> Date d'expiration
        <input type="date" name="expireDate">
    </label>

    <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}