<h1>{{title}}</h1>


<div class="reservation">
    <div id="volNumber">
        <div>
            <span>Vol N°BWK5061</span>
        </div>
    </div>
    <div id="voleDate">
        <div>
            <span>10/12/2022 à 10h15</span>
        </div>
    </div>
    <div id="volDirection">
        <div>
            <span><span id="from">Tatooine</span> ➔ <span id="to">Corula</span></span>
        </div>
    </div>
    <div id="classes">
        <div>
            <span>Classe Gold</span>
        </div>
    </div>
    <div id="price">
        <div>
            <span>7290.000€</span>
        </div>
    </div>
</div>