<h1>Creer votre compte</h1>

<form action="/auth/signup" method="POST">

   <div id="signup">

      <div>
         <label> Pseudonyme
            <input  class="pseudoSignup" type="text" name="pseudonyme">
         </label>
      </div>

      <div>
         <label> Email
            <input type="email" name="email">
         </label>
      </div>

      <div>
         <label> Mot de passe
            <input type="password" name="password">
         </label>
      </div>

      <button class="btnSignup">Confirmer</button>
   </div>

</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}