<h2>Creer votre compte</h2>

<form action="/auth/signup" method="POST">
   <label> Pseudonyme
      <input type="text" name="pseudonyme">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Mot de passe
      <input type="password" name="password">
   </label>
      <button>Confirmer</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}