<div>
    <img src="https://res.cloudinary.com/shalltear/image/upload/v1659105756/Project%202/public/authLogo_xjored.png">
    Mon compte
</div>

{{#if user}}
    <p><a href="/auth/profile">Profil</a></p>
    <p><a href="/auth/reservations">Mes réservations</a></p>
    <p><a href="/auth/logout">Deconnexion</a></p>
{{else}}
    <p><a href="/auth/login">Connexion</a></p>
    <p><a href="/auth/signup">Créer un compte Star Stonks</a></p>
{{/if}}

<div>
    <img src="https://res.cloudinary.com/shalltear/image/upload/v1659105756/Project%202/public/compass_g0w4fe.png">
    Découverte
</div>
<p><a href="/classes">Classes</a></p>
<p><a href="/application">Application</a></p>