<div>
    <img src="https://res.cloudinary.com/shalltear/image/upload/v1659105756/Project%202/public/authLogo_xjored.png">
    Mon compte
</div>

{{#if user}}
    <p>Profil</p>
    <p>Mes reservations</p>
    <p>Deconnexion</p>
{{else}}
    <p>Connexion</p>
    <p>Créer un compte Star Stonks</p>
{{/if}}

<div>
    <img src="https://res.cloudinary.com/shalltear/image/upload/v1659105756/Project%202/public/compass_g0w4fe.png">
    Découverte
</div>
<p>Classes</p>
<p>Application</p>