<div class="resultCard" style="background-color: 
{{!-- {{#if (eq tickets.class "gold"   )}} #FAFF09 {{/if}}
{{#if (eq tickets.class "silver" )}} #E5E1E1 {{/if}}
{{#if (eq tickets.class "bronze" )}} #9C7207 {{/if}} --}}
{{!-- " identification="{{trips._id}}" --}}
"
    tripId="245148gjg65f9f75fsd9"
    backgroundClass="gold">
    <div class="from">
    Départ à 06:00
    </div>
    
    <div class="to">
    Arrivée à 09:25
    </div>

    {{!-- <div>
        <span class="classType"><span>Classe Gold</span>
    </div> --}}

    <div class="fly">
        79h 23m 56s de vol
    </div>

</div>
