<h1>{{title}}</h1>

<div id="app">

    <div class="appfond">
        <img src="https://res.cloudinary.com/shalltear/image/upload/v1658785932/Project%202/public/Logo2_uusmkb.png"
            class="appLogo">

    </div>

    <div class="appDl">
        <a href="https://play.google.com/store/apps/details?id=com.starstonks.business&hl=fr&gl=US">
            <img src="https://res.cloudinary.com/dq7egs1s7/image/upload/v1659551582/google-play-newapp_nqci4q.png"
                alt="">
        </a>

        <a href="https://www.apple.com/fr/search/star-stonks?src=itunes_serp">
            <img src="https://res.cloudinary.com/dq7egs1s7/image/upload/v1659551582/app-store_newapp_wi2umo.png" alt="">
        </a>
    </div>

</div>