<div class="classes">
    <div class="gold">
        <h2>Gold Class</h2>
        <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761161/StarStonks/classesPage/imgClass2_qwyvaw.jpg"
            alt="">
        <ul>
            <li>
                Un embarquement prioritaire à bord d’un vaisseau de prestige.
            </li>
            <li>
                Un membre de l’équipe entièrement dédié au service du client.
            </li>
            <li>
                Une suite de luxe avec bar.
            </li>
            <li>
                Un accès au spa.
            </li>
            <li>
                Des repas haut de gamme à la demande.
            </li>
        </ul>
    </div>

    <div class="silver">
        <h2>Silver Class</h2>
        <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761152/StarStonks/classesPage/imgclass1_vu1ik1.jpg"
            alt="">
        <ul>
            <li>
                Un siège ergonomique inclinable.
            </li>
            <li>
                Une franchise de bagages en soute et en cabine.
            </li>
            <li>
                Une prise en charge des enfants voyageant seuls.
            </li>
            <li>
                Repas pris en charge.
            </li>
            <li>
                Une prise d’alimentation et du Wi-Fi.
            </li>
        </ul>
    </div>

    <div class="bronze">
        <h2>Bronze Class</h2>
        <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761164/StarStonks/classesPage/imgclass3_az17g3.jpg"
            alt="">
        <ul>
            <li>
                Siège non attribuées.
            </li>
            <li>
                Non prise en charge des enfants voyageant seuls.
            </li>
            <li>
                Repas à prévoir pour la totalité du voyage.
            </li>
            <li>
                La compagnie ne garantie pas la sécurité des voyageurs et ne sera pas responsable de quelconques
                dommages.
            </li>
            <li>Billet non remboursable et non échangeable.

            </li>
        </ul>
    </div>

</div>