<h1>{{title}} 🚀</h1>

<h2>Choix de votre destination</h2>
<div class="formulaire">
    <form action="" method="get">
        <label for="from">Sélectionner La planet de depart</label>
        <input type="list" id="from" name="from" list="planete" required>
    </form>

    <form action="" method="get">
        <label for="from">Sélectionner La planet de destination</label>
        <input type="list" id="from" name="from" list="planete" required>
        <input type="submit" value="Go voyage !">

    </form>
    <datalist id="planete">
        <option>Terre</option>
        <option>Tatouine</option>
        <option>Korriban</option>
        <option>Mustafar</option>
        <option>Lola Sayu</option>
    </datalist>
</div>

<div class="planete">
    <ul>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658605101/th_hharou.jpg" alt="Terre">
            <a href="#">Terre</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604775/StarStonks/tatouine_wkacf1.jpg"
                alt="Tatouine">
            <a href="#">Tatouine</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604878/th_idxtls.jpg" alt="Korriban">
            <a href="#">Korriban</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604921/th_o2avnl.jpg" alt="Mustafar">
            <a href="#">Mustafar</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604946/th_ncsavf.jpg" alt="Lola Sayu">
            <a href="#">Lola Sayu</a>
        </li>
    </ul>
</div>