{{#if user}}
<h1>Bienvenue {{user.pseudonyme}}</h1>
{{/if}}

<div class="homepage">
    <h2>Choix de votre destination</h2>
    <form action="/results" method="get">
        <label for="from">Sélectionnez la planète de départ :</label>
        {{!-- <input type="list" id="from" name="from" list="planete" required> --}}
        <select name="from">
            <option value="Terre">Terre</option>
            <option value="Tatooine">Tatooine</option>
            <option value="Korriban">Korriban</option>
            <option value="Mustafar">Mustafar</option>
            <option value="Lola Sayu">Lola Sayu</option>
        </select>

        <label for="from">Sélectionnez la planète de destination :</label>
        {{!-- <input type="list" id="to" name="to" list="planete" required> --}}
        <select name="to">
            <option value="Terre">Terre</option>
            <option value="Tatooine">Tatooine</option>
            <option value="Korriban">Korriban</option>
            <option value="Mustafar">Mustafar</option>
            <option value="Lola Sayu">Lola Sayu</option>
        </select>
        <a href="/results">
            <input type="button" value="Go voyage !" />
        </a>
    </form>

    {{!-- <datalist id="planete">
        <option>Terre</option>
        <option>Tatooine</option>
        <option>Korriban</option>
        <option>Mustafar</option>
        <option>Lola Sayu</option>
    </datalist> --}}



    <div class="enigme">
        <a href="https://benamzz.github.io/Star-Wars-Is-Coming/"><img
                src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658854591/StarStonks/classesPage/background_img/lune_f86gyd.png"
                alt=""></a>
    </div>
</div>


<div class="planete">
    <ul>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777562/StarStonks/Terre_rhpaep.png"
                alt="Terre">
            <a href="https://fr.wikipedia.org/wiki/Terre">Terre</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777671/StarStonks/tatooine_yrd8rb.png"
                alt="Tatooine">
            <a href="https://starwars.fandom.com/fr/wiki/Tatooine">Tatooine</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658855601/mustafar1_lvt3w7.png"
                alt="Korriban">
            <a href="https://starwars.fandom.com/fr/wiki/Korriban">Korriban</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778810/mustafar_1_nmc3ih.png"
                alt="Mustafar">
            <a href="https://starwars.fandom.com/fr/wiki/Mustafar">Mustafar</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777919/lola_sayu_sabeam.png"
                alt="Lola Sayu">
            <a href="https://starwars.fandom.com/fr/wiki/Lola_Sayu">Lola Sayu</a>
        </li>
    </ul>
</div>