{{#if user}}
<h1>Bienvenue {{user.pseudonyme}}</h1>
{{/if}}


<h2>Choix de votre destination</h2>
<div class="destinationForm">
    <form action="" method="get">
        <div>
            <label for="from">Planète de départ</label>
            <input type="list" id="from" name="from" list="planete" required>
        </div>
        <div>
            <label for="from">Planète de destination</label>
            <input type="list" id="to" name="to" list="planete" required>
        </div>


        <a href="/results">
            <input type="button" value="Go voyage !" />
        </a>

    </form>

    <datalist id="planete">
        <option>Terre</option>
        <option>Tatooine</option>
        <option>Korriban</option>
        <option>Mustafar</option>
        <option>Lola Sayu</option>
    </datalist>
</div>

<div class="planete">
    <ul>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658605101/th_hharou.jpg" alt="Terre">
            <a href="https://fr.wikipedia.org/wiki/Terre">Terre</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604775/StarStonks/tatouine_wkacf1.jpg"
                alt="Tatooine">
            <a href="https://starwars.fandom.com/fr/wiki/Tatooine">Tatooine</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604878/th_idxtls.jpg" alt="Korriban">
            <a href="https://starwars.fandom.com/fr/wiki/Korriban">Korriban</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604921/th_o2avnl.jpg" alt="Mustafar">
            <a href="https://starwars.fandom.com/fr/wiki/Mustafar">Mustafar</a>
        </li>
        <li>
            <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658604946/th_ncsavf.jpg" alt="Lola Sayu">
            <a href="https://starwars.fandom.com/fr/wiki/Lola_Sayu">Lola Sayu</a>
        </li>
    </ul>
</div>