<h2>{{title}}</h2>
<div class="planeteImg">
    <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778810/korriban.png" alt="korriban">
</div>

<article>
    <h3>Description</h3>
    Korriban était une planète hostile des Mondes Sith dans la Bordure Extérieure sur laquelle apparut une espèce
    humanoïde de manipulateur de la Force. Elle était un lieu de pèlerinage pour les adeptes du côté obscur.

    <h3>Histoire</h3>
    <h4>Berceau ancestral des Sith
    </h4>
    Korriban mérite à double titre son surnom. En effet, c'est sur son sol poussiéreux que naquirent l'espèce des Sith
    et l'Ordre Sith.
    <h4>Les Sith au sang pur</h4>

    Korriban fut la planète natale de cette race de conquérants à la peau rouge. De plus, il est possible que
    l'environnement rigoureux de la planète ait un lien avec la grande affinité des Sith au sang pur pour la Force, mais
    ceci reste à prouver.


    La vallée des Seigneurs Noirs.

    Les Sith au sang pur prospérèrent sur cette planète rouge au climat inhospitalier et y bâtirent une impressionnante
    civilisation. D'ailleurs cette dernière rencontra durant la Préhistoire l'Empire Infini des Rakatas qui tenta de
    soumettre les Hommes rouges. Mais ces derniers grâce à leur maîtrise de la Force repoussèrent l'envahisseur.

    La société Sith sur Korriban resta tout de même assez primitive durant le début de l'Histoire. Mais cela changea
    rapidement suite à l'arrivée de nouveaux étrangers sur la planète.
    <h4> L'Ordre Sith</h4>

    L'arrivée des Jedi Noirs sur Korriban en 6900 av.BY, menés par Ajunta Pall, bouleversa l'Histoire de la planète. De
    par leur impressionnante maîtrise de la Force et leur technologie, les Sith au sang pur firent de ces nouveaux
    arrivants humains de véritables dieux. Ces derniers, puissants dans le côté obscur de la Force assujettirent les
    autochtones. Le chef des Jedi Noirs, Ajunta Pall, fonda alors sur Korriban un nouvel ordre d'utilisateur de la Force
    : l'Ordre Sith. Il fonda sa propre armée qui devint un mélange entre humains et Sith au sang pur qui lui permit de
    commencer la conquête de systèmes voisins, construisant ainsi l'Ancien Empire Sith.

    Cet empire et l'Ordre Sith à sa tête prospérèrent durant de longues années animées par les conquêtes et les
    querelles politiques intestines.

    Guidé par de puissant Seigneur Sith comme : Marka Ragnos, Tulak Hord, Ludo Kresh, Naga Sadow... le pouvoir de
    l'Ancien Empire Sith et de l'Ordre Sith ne cessa pas de s'accroître. Les Sith construisirent d'immenses monuments à
    la gloire de leurs maîtres dans une vallée désormais appelée la Vallée des Seigneurs Noirs. Sur cette Vallée trônent
    d'incroyables colosses, sculptures géantes sorties du sable de Korriban qui ont sous leurs pieds un infini trésor,
    l'Héritage de l'Ancien Empire Sith : les tombeaux des Seigneurs Noirs.

    Sous le règne de Naga Sadow, la civilisation Sith avait atteint le statut de superpuissance galactique et défia un
    rival à sa hauteur : la République Galactique. En effet deux explorateurs ont découvert la planète : Gav Daragon et
    Jori Daragon. C'est cette découverte qui marquera le début de la Grande Guerre de l'Hyperespace.
    <h4> La Grande Guerre de l'Hyperespace</h4>

    La Grande Guerre de l'Hyperespace est le nom donné au premier grand conflit opposant la République et l'Empire, les
    Jedi contre les Sith. Bien que les combats furent menés loin de Korriban, cette dernière fut brutalement touchée
    durant la fin de la guerre.
    <h4> La guerre civile de Naga Sadow</h4>

    Alors que le conflit semblait en faveur des Sith, l'apprenti du Seigneur Noir Naga Sadow le trahit ce qui renversa
    l'issu du conflit. En effet, le Seigneur Noir fut contraint de battre en retraite sur Korriban. Mais cette dernière,
    en l'absence de Sadow, s'est choisi un nouveau chef qui retourna le peuple Sith contre Naga Sadow.

    Éclata alors une guerre civile terrible entre les forces du Seigneur Noir et celle du prétendant au trône Ludo
    Kresh. Naga Sadow remporta certes la victoire, mais le conflit coûta trop cher à l’Ancien Empire Sith. Ce dernier
    était alors trop faible pour pouvoir rivaliser avec les troupes de la République Galactique qui suivirent Naga Sadow
    jusqu'à Korriban.

    Vaincus, sans chef, les Sith subirent l'occupation de la République jusqu'à ce que le Sénat de la République
    Galactique se prononce sur les conditions de paix venant conclure la Grande Guerre de l'Hyperespace.

    Le massacre de Korriban

    L'Académie Sith de Korriban.

    C'est à ce moment que la République prit une terrible décision, conformément à l'avis du Haut Conseil Jedi. En
    premier lieu, il faut se souvenir que les Jedi adhèrent majoritairement à la conception de la Force unifiée, qui
    postule notamment que les côtés lumineux et obscurs de la Force existent de façon distincte dans l'équilibre de
    l'Univers. Or, face au cas particulier de la race Sith naturellement sensible à la Force, l'Ordre Jedi pensa qu’il
    se trouvait devant une singularité du côté obscur, une anomalie cosmologique. À l'époque, ils étaient convaincus que
    l'espèce Sith n'était pas simplement sensible à la Force, mais plus précisément au côté obscur de la Force. Ce n'est
    que plus tard qu'ils apprirent que l'Ordre Sith était l'héritage des Jedi Noirs qu'ils avaient combattus et exilés 2
    000 ans plus tôt, et avait donc orienté toute l'espèce sur la voie du Mal sans qu'elle n'eût d'inclination maléfique
    à la base. Quoi qu'il en soit, sur la base de ce postulat erroné, les Jedi jugèrent que l'espèce Sith représentait
    une trop grande menace pour être laissée en vie en l'état. Il y eut bien quelques idéalistes qui proposèrent de
    lancer une campagne massive de conversion à la Lumière comme on vaccine contre une pandémie, mais la majorité estima
    cette option irréaliste, d'autant qu'elle est très périlleuse, car elle expose le soigneur à la contamination par le
    côté obscur face à une volonté plus forte que la sienne. Par ailleurs, la galaxie avait conservé la mémoire des
    horribles exactions commises par les Jedi Noirs du temps du Second Grand Schisme, et la République était déterminée
    à ne pas les laisser se répéter. Ainsi donc, le Conseil préconisa, la mort dans l'âme, l'élimination des Sith, pour
    le bien de la galaxie.

    Le Sénat de la République ordonna alors la destruction pure et simple de l'Ancien Empire Sith. Des forces
    républicaines arrivèrent en renfort des forces occupantes et commencèrent une exécution en règle. Parallèlement, un
    groupe de Jedi pénétra dans l'académie de Korriban et y massacra tous les Sith jusqu'au-boutistes qui s'y étaient
    retranchés.

    <h4> Le massacre de Korriban.</h4>


    Annihilant tout sur leur passage, les républicains éradiquèrent tout ce qui fit par le passé la puissance de
    l'Ancien Empire Sith. La grande majorité de la population Impériale fut tuée lors du massacre, sans distinction
    entre sensitifs ou non. Les rares survivants qui parvinrent à s'enfuir firent un voyage sans retour vers Dromund
    Kaas au terme d'une errance de 20 ans dans le vide sidéral.

    Sans population et avec une culture éradiquée, Korriban sombra dans l’oubli.
    <h4> Le pèlerinage d'Exar Kun</h4>

    Le Jedi déchu Exar Kun, en quête des secrets du côté obscur se rendit sur Korriban près de 1 000 ans après le
    massacre. L'apprenti Sith faillit y mourir. Mais lorsqu'il quitta la planète afin de construire son propre empire,
    il amena avec lui les secrets obscurs de la planète Sith.

    En 3993 av.BY, alors que Exar Kun fut vaincu, les Jedi Noirs survivants de son armée s'installèrent sur Korriban et
    fondèrent la colonie de Dreshdae. Cette colonie se développa et les Jedi Noirs construisirent une véritable école du
    côté obscur : l'Académie Sith de Korriban.

    En 3993, durant la Grande Chasse les Jedi Duron Qel-Droma et Shaela Nuur seront tués sur Korriban ne parvenant pas à
    exterminer les Terentateks.
    <h4> Le pèlerinage de Dark Revan</h4>

    À son tour, Dark Revan accompagné de son apprenti Dark Malak posa le pied sur Korriban en quête de pouvoir obscur
    dissimulé parmi les restes des Seigneurs Noirs des Sith. Dans un esprit de réaffirmation du pouvoir Sith et pour
    faire de son empire l'héritier de l'Ancien Empire Sith, Dark Revan réhabilita et développa les infrastructures de la
    planète. Mais lorsque Dark Revan et Dark Malak se déchirèrent dans une terrible lutte de pouvoir, Korriban retomba
    dans l'oubli.

    La République mettra de nombreuses années avant d'envoyer un corps expéditionnaire sur Korriban afin d'empêcher
    certains Sith de se nommer Seigneur Noir des Sith. Ils trouvèrent une planète dévastée.

    Dans le chaos suivant la Guerre Civile des Jedi, qui a quasiment anéanti l'Ordre, la maître Jedi Lonna Vash s'est
    réfugiée sur Korriban, où elle a été piégée et tuée par Dark Sion dans les ruines de l'Académie, il l'a ensuite
    utilisée comme appât pour attirer l'Exilé. Après avoir échappé au piège de Sion, l'Exilé découvrit l'antique tombe
    de Ludo Kressh
    <h4> Le retour des Sith</h4>


    Dark Malgus devant la reconquête de Korriban.

    En 3681 av.BY, l'Empire Sith de l'Empereur Sith Dark Vitiate sortit de l'ombre et lança ses forces contre la
    République Galactique. Korriban était alors sa cible prioritaire. Il chargea Vindican, un Sith au sang pur, et son
    apprenti Dark Malgus de mener cette campagne. L'assaut brutal eu raison sans difficulté des défenses républicaines.

    Korriban était à nouveau patrie des Sith. Cependant, l'Empereur Dark Vitiate se refusa à en faire la capitale de
    l'Empire Sith. Il en fit tout de même la capitale de l'Ordre Sith et réhabilita l'Académie Sith qui devient le lieu
    de rassemblement de tous les manipulateurs de la Force présents au sein de l'Empire.

    <h4>La Chute des Sith</h4>
    Après la victoire définitive de la République Galactique sur l'Empire Sith. Un Seigneur Sith du nom de Dark Ruin
    tenta de refonder un Nouvel Empire Sith en 2000 av.BY.

    Le Nouvel Empire Sith se transformant en la Confrérie des Ténèbres en 1600 av.BY, les Sith conservèrent le contrôle
    de leur planète mais la folie destructrice des Seigneurs Sith engendra un conflit qui coûta la vie à une grande
    majorité des Sith qui abandonnèrent définitivement Korriban.

    <h4>La Guerre des Clones</h4>
    En 24 av.BY, un adepte Sith, Granta Omega, tenta de contacter les derniers Seigneurs Noirs des Sith de la Galaxie.
    Ce dernier fut finalement tué par Obi-Wan Kenobi, mais Omega eu tout de même le temps de tuer Darra Thel-Tanis.

    Korriban resta abandonné jusqu'à ce qu’il soit repris par la Guilde du Commerce juste avant la Guerre des Clones. Le
    général Jedi Eeth Koth a mené une bataille sur Korriban qui a coûté la vie à de nombreux soldats clones.

    Les Jedi déchus Quinlan Vos et Tol Skorr ont été envoyée sur Korriban pour retrouver l'holocron de Dark Andeddu pour
    le Comte Dooku, c'est finalement Vos qui l'emporta en effrayant Skorr avec un Tuk'ata, en récompense Dooku offrit le
    cristal d'Andeddu à Vos.

    <h4>Le pèlerinage Impérial</h4>
    Après la transformation de la République Galactique en Empire Galactique, l'Empereur Dark Sidious se rendit en
    pèlerinage sur Korriban afin d'étudier les secrets des Seigneurs Noirs des Sith. Mais il manqua d'y périr lors de
    son exploration. Il y revint à l'aube du déclin de son empire et fut pris au piège par un escadron rebelle.

</article>