<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <img src="https://res.cloudinary.com/shalltear/image/upload/v1658785932/Project%202/public/Logo2_uusmkb.png"
      id="navLogo">

    <div id="navCartHamburger">
      {{#if user}}
      {{#if user.avatarUrl}}
      <img src="{{user.avatarUrl}}" class="navIcon">
      {{else}}
      <img
        src="https://res.cloudinary.com/shalltear/image/upload/v1658785651/Project%202/public/defaultAvatar_ezlpxu.png"
        class="navIcon">
      {{/if}}
      {{/if}}
      <img src="https://res.cloudinary.com/shalltear/image/upload/v1658592888/Project%202/public/cart_gzmrmy.png"
        class="navIcon">
      <img src="https://res.cloudinary.com/shalltear/image/upload/v1658593774/Project%202/public/hamburger_ippbcd.png"
        class="navIcon" id="hamburger">
    </div>
  </nav>
  <div id="content">
    {{{body}}}
  </div>


  <footer>
    <ul>
      <li>
        <!--<img src="https://res.cloudinary.com/shalltear/image/upload/v1658592362/Project%202/public/Logo2_ebnku0.png"
          id="footerLogo">-->
      </li>
      <li><a href="https://apps.apple.com/fr/app/apple-store/id375380948">Application</a></li>
      <li><a href="/classes">Classes de voyage</a></li>
      <li><a href="#">Mention Légales</a></li>
      <li><a href="#">Contactez-nous</a></li>
    </ul>
  </footer>

  <script src="/js/script.js"></script>
</body>

</html>