<h2>{{title}}</h2>
<div class="planeteImg">
    <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777919/lola_sayu_sabeam.png" alt="Lola Sayu">
</div>


<article>
    <h3>Description</h3>
    Lola Sayu était une planète des Territoires de la Bordure Extérieure, dans le secteur Belderone. Elle se
    situait proche de Felucia.
    Durant la Guerre des Clones, la Confédération des Systèmes Indépendants y installa une prison nommée la Citadelle.
    Elle était dirigée par le Phindien Osi Sobeck.

    En 21 av.BY, un groupe de soldats de la République Galactique dirigé par Anakin Skywalker et Obi-Wan Kenobi
    s'infiltra dans la Citadelle pour libérer Even Piell et Wilhuff Tarkin fait prisonnier. Finalement, Echo fut laissé
    pour mort et Even Piell mourut, comme de nombreux autres soldats incluant Charger et Longshot, et le reste du groupe
    put s'enfuir de la planète.
</article>