<h2>{{title}}</h2>
<div class="planeteImg">
    <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1660671780/mustafar_2_jm70kh.png" alt="Mustafar">
</div>
<article>
    <h3>Description</h3>
    Mustafar était une petite planète volcanique du système Mustafar dans les Territoires de la Bordure Extérieure.
    Située entre deux géantes gazeuses, elle fut affiliée à la Confédération des Systèmes Indépendants pendant la Guerre
    des Clones puis sous l'Empire Galactique après la nationalisation du Techno-Syndicat.
    Sous le règne Impérial, Mustafar devint la place forte du Seigneur Noir des Sith Dark Vador.

    <h3>Histoire</h3>

    Mustafar était une petite planète de 4200 kilomètres de diamètre située dans le système Mustafar, du secteur
    Atravis des Territoires de la Bordure Extérieure. Elle était recouverte de volcans et de rivières de laves,
    faisant d'elle une fournaise inhospitalière. Néanmoins, plusieurs espèces s'y développèrent dont les Mustafariens
    et des créatures telles que les puces de lave.

    Mustafar orbitait dans le système entre deux géantes gazeuses, Jestefad et Lefrani. Jestefad, planète jumelle de
    Mustafar, attirait sans cesse le petit monde tellurique vers elle provoquant une activité volcanique constante. Le
    champ électromagnétique de Jestefad recouvrait complètement Mustafar générant des tempêtes électriques. Si Mustafar
    ne devint pas une lune de Jestefad, ce fut à cause de l'attraction de Lefrani.

    Malgré sa température de 800 °C, la lave de Mustafar était moins chaude qu'une lave dite normale. Cette "douceur"
    était due à la présence d'allotropes minéraux qui fondaient à une température plus basse. L'atmosphère de Mustafar
    était remplie de cendres et souffrait de nombreuses turbulences cycloniques. Les interférences provoquées par le
    champ électromagnétique de Jestefad mettaient à mal les systèmes de navigation des vaisseaux cherchant à se poser à
    la surface. Afin de faciliter les manœuvres de décollage et d’atterrissage, les complexes miniers utilisaient des
    rayons tracteurs. La capitale de Mustafar était Fralideja.

    <h3>Histoire</h3>
    Avant la Guerre des Clones
    Afin de profiter de la puissance du côté obscur régnant sur Mustafar, les Sith établirent un temple Sith.
    L'existence de ce lieu était connue de Dark Sidious qui décida de maintenir un avant-poste secret sur la planète.

    Le Techno-Syndicat s'installa sur Mustafar environ trois siècles avant la chute de la République Galactique. Avec
    l'aide des Mustafariens, le Techno-Syndicat extrayait les minéraux lourds de la lave en fusion pour ensuite les
    exporter.

    <h4>Guerre des Clones</h4>

    La forteresse du Soleil Noir.

    À l'époque de la Guerre des Clones, le Soleil Noir de Xomit Grunseit possédaient des villes minières et des refuges
    ainsi que son quartier-général sur Mustafar. Deux ans après le début du conflit, Dark Maul, son frère Savage Opress
    et Pre Vizsla se rendirent dans la forteresse du Soleil Noir dans l'espoir de les recruter au sein du Collectif des
    Ombres. Sentant les négociations se perdre dans une impasse, Oppress tua tous les dirigeants du Soleil Noir à
    l'exception de Ziton Moj. Dorénavant à la tête du Soleil Noir, Moj se joignit au Collectif et fournit armes, troupes
    et ravitaillement.

    Après la mort de Dooku pendant la bataille de Coruscant, Sidious ordonna au Général Grievous d'envoyer les membres
    du Conseil Séparatiste dans un complexe minier sur Mustafar afin de les mettre en sécurité. Une fois l'Ordre 66
    exécuté, Sidious chargea son nouvel apprenti, Dark Vador, de se rendre sur Mustafar, de tuer les dirigeants
    Séparatistes puis de désactiver l'armée droïde mettant ainsi un terme à la Guerre des Clones.

    <h4>Ère Impériale</h4>
    Peu de temps après l'exécution des Séparatistes, Padmé Amidala voyagea sur Mustafar dans l'espoir de ramener Vador
    vers la lumière. Son plan échoua et lorsque Vador remarqua la présence d'Obi-Wan Kenobi, il se servit de la Force
    pour l'étrangler. Peu après, un féroce duel opposa les deux anciens amis. Au terme du combat, Kenobi eut le dessus
    et parvint à démembrer Vador. Ne pouvant se résoudre à l'achever, Kenobi prit son sabre laser et le laissa pour
    mort. Sidious, qui avait senti que son apprenti était en danger, rejoignit Mustafar à temps pour le sauver. Il le
    ramena au sein du Grand Centre Médical de Coruscant où Vador put être soigné.


    Le château de Dark Vador.

    Quelque temps après son duel contre Kenobi, Vador se rendit dans une caverne Sith de Mustafar. Là, comme lui avait
    intimer Sidious, il s'adonna à un sombre rituel pour corrompre le Cristal Kyber volé au Maître Jedi Kirak Infil'a.
    Une fois que le cristal fut convertit, Vador retourna auprès de son maître sur Coruscant. Par la suite, Vador y
    établit une forteresse.

    Quatre ans avant la bataille de Yavin, une flotte Impériale était stationnée en orbite de Mustafar. Lorsqu'il fut
    capturé sur Lothal, Kanan Jarrus fut conduit à bord du Sovereign, le Destroyer Stellaire de classe Impérial I
    personnel de Wilhuff Tarkin. Le sauvetage de Jarrus fut organisé par compagnons. Au cours de l'évasion, Jarrus
    affronta le Grand Inquisiteur. Le sabre laser de ce dernier fut coupé en deux et tomba dans l'un des réacteurs
    envoyant le vaisseau s’abîmer dans les champs de lave de la planète.


    Vador apparaît à Krennic.

    Peu de temps après la destruction de Jedha City et alors qu'il séjournait dans une cuve de bacta, Vador fut approché
    par son serviteur Vaneé. Ce dernier lui annonça l'arrivée du directeur Orson Callan Krennic, l'officier Impérial en
    charge de la construction de l'Étoile de la Mort. Krennic avait été convoqué pour justifier ses récents déboires qui
    mettaient en péril la sécurité de la station de combat.

    Dans les mois qui suivirent la bataille d'Endor, le pilote de la Nouvelle République, Wedge Antilles, participa à
    une mission de reconnaissance à travers les Territoires de la Bordure Extérieure et disparu après son dernier
    rapport sur Raydonia. Afin de le retrouver, l'amiral Gial Ackbar envoya des éclaireurs sur Mustafar ainsi que
    Tatooine, Dermos, Geonosis et Akiva.

    <h3>Conflit entre le Premier Ordre et la Résistance</h3>
    Suite à la mort de Vador, des sectes lui vouant un culte apparurent. Les Alazmec de Winsit s'installèrent dans le
    marais de Corvax non loin du château de Vador.

    Environ trente ans après la bataille d'Endor, Kylo Ren se rendit sur Mustafar pour trouver un orienteur Sith. Il
    affronta et tua les Alazmec qui tentèrent de lui barrer la route dans le marais de Corvax.

    <h4>Population</h4>

    Un Mustafarien du Nord et un Mustafarien du Sud.

    Les espèces autochtones, appelés Mustafariens, vivaient dans les cavernes des montagnes de la planète. Évolution des
    puces de lave, ils pouvaient compter sur leur exosquelette et leur biologie pauvre en eau pour survivre au climat de
    Mustafar. Ils ne devaient se vêtir de vêtements isolants et de masques que pour se rendre à la surface de la
    planète. Deux espèces occupaient Mustafar : les trapus Mustafariens du Sud et les Mustafariens du Nord. Les
    premiers profitaient d'une peau plus épaisse pour travailler près des flux de lave tandis que les seconds, plus
    sensibles aux hautes températures, chevauchaient des puces de lave et montaient la garde.
</article>