<div id="error">
    <h1>NOT FOUND</h1>
    <img src="https://c.tenor.com/zT8j-k_mdbYAAAAC/starwars-forceawakens.gif">
    <p>BIP ... Il semble que la force ne soit pas avec vous</p>
    <p>Essayez de rafraichir cette page 404 fois</p>
</div>