<h1>{{title}} de vol</h1>


<form id="optionsForm" action="/cart" method="POST">
    <h2>Ticket_ID: {{tripId}}</h2>
    <input name="ticketID" type="hidden" value="{{tripId}}">
    <div>
        <label for="passenger">Nombre de passagers :</label>
        <select name="passengers" id="nbPassengers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>

    <div>
        <label for="bags">Nombre de bagages :</label>
        <select name="bags" id="nbBags">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <button>Confirmer</button>
</form>