<h1 class="title">{{title}}</h1>

 <div id="profile">
    <!-- Pseudonyme -->
    <label for="pseudo">Pseudonyme</label>
    <input id="pseudo"type="text" placeholder=""><br>

    <!-- Nom -->
    <label for="nom">Nom</label>
    <input id="nom"type="text" placeholder=""><br>

    <!-- Prénom -->
    <label for="prénom">Prénom</label>
    <input id="prenom"type="text" placeholder=""><br>

    <!-- E-mail -->
    <label for="eMail">E-mail</label>
    <input id="eMail"type="text" placeholder=""><br>

    <!-- Mobile Spatiale -->
    <label for="mobile">Mobile Spatiale</label>
    <input id="mobile"type="text" placeholder=""><br>

    <!-- Age -->
    <label for="age">Age </label> 
    <input id="age" type="number" placeholder="" min="0" max="99"><br>

    

    <!-- Genre -->
    <label for="sexe">Sexe :</label>
    <input type="radio" name="sexe" id="sexe" />Homme 
    <input type="radio" name="sexe" />Femme<br />

   
    <!-- Adresse-->
    <label for="adresse">Adresse</label> 
    <input id="adresse" type="text" placeholder=""><br>
    <label for="codePostal">Code Postal</label> 
    <input id="codePostal" type="number" placeholder="">
    <label for="département">Départements</label> 
    <input id="département" type="text" placeholder="">

    
        <!-- Select Group Sanguin-->
     <label for="grSange">Groupe Sanguins</label>

     <select id="grSang">
        <option selected value=""></option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select><br>
</div>

  <div id="btn">
        <button>Valider</button>
 </div>