<h1>{{title}} 🚀</h1>

 <div>
    <!-- Pseudonyme -->
    <label for="pseudo">Pseudonyme</label>
    <input id="pseudo"type="text" placeholder="Entrez votre Pseudonyme"><br>

    <!-- Nom -->
    <label for="nom">Nom</label>
    <input id="nom"type="text" placeholder="Entrez votre Nom"><br>

    <!-- Prénom -->
    <label for="prénom">Prénom</label>
    <input id="prenom"type="text" placeholder="Entrez votre Prénom"><br>

    <!-- E-mail -->
    <label for="eMail">E-mail</label>
    <input id="eMail"type="text" placeholder="Entrez votre e-mail"><br>

    <!-- Mobile Spatiale -->
    <label for="mobile">Mobile Spatiale</label>
    <input id="mobile"type="text" placeholder="Entrez votre Moblie Spatiale"><br>

    <!-- Age -->
    <label for="age">Age </label> 
    <input id="age" type="number" placeholder="Entrez votre age" min="0" max="99"><br>

    

    <!-- Select Genre V2-->
    <label for="gender">Genre</label>
    <input type="radio" name="type" id="Homme">
    <label for="Homme">Humain</label>
    <input type="radio" name="type" checked id="Femme">
    <label for="Femme">Femme</label><br>

   

    <label for="adresse">Adresse</label> 
    <input id="adresse" type="text" placeholder="Entrez votre Adresse"><br>
    <label for="codePostal">Code Postal</label> 
    <input id="codePostal" type="number" placeholder="Entrez votre Code postal">
    <label for="département">Départements</label> 
    <input id="département" type="text" placeholder="Entrez votre Département"><br>

    
        <!-- Select Genre-->
    <label for="grSange">Groupe Sanguins</label>
    <select id="grSang">
        <option selected value=""></option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select><br>

    
    <input type="submit" value="Valider"> 

 </div>