<h1>{{title}}</h1>

<h2 class="jDepart">jeudi 28 juillet</h2>

<ul>
    <li>
        <div>
            <span class="depart"><span>Départ à : </span></span>
            <div class="detailDepart">
                <time datetime="28-07-2022 06:00" class="time">06:00 </time>
            </div>
            
            <span class="arriver"><span>Arrivée à : </span></span>
            <div class="detailArriver">
                <time datetime="28-07-2022 09:25" class="time">09:25 </time>
            </div>

            <div>
                <span class="classeType"><span>Classe Gold</span></span>
            </div>

            <div>
                <span class="tempsVol">Temps de vole</span>
                <span class="detailtempsdevole">79h 23m 56s</span>
            </div>

        </div>
    </li>
    
</ul>