<h1>{{title}}</h1>
<div class="planeteImg">
    <img src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777671/StarStonks/tatooine_yrd8rb.png"
        alt="Tatooine">
</div>
<article>
    <p>Tatooine était un monde désertique situé dans le secteur Arkanis de la Territoires de la Bordure Extérieure.
    Des fossiles laissaient penser aux scientifiques que Tatooine avait été recouverte par un océan à l'instar de
    Kamino.
    </p>
    <p>
    La planète fut colonisée par des corporations minières qui pensaient que la planète était riche en minerais.
    Cependant, lorsqu'elles découvrirent que ce n'était pas le cas, ces corporations plièrent bagages et laissèrent
    leurs ouvriers sur la planète. Depuis, Tatooine est devenu le repaire des hors-la-loi et le fief du Hutt Jabba
    Desilijic Tiure.
    </p>

    <p>
    La planète est également devenue connue pour ses courses de modules comme la Classique de Boonta Eve. Les Jawa, un
    peuple de ferrailleur, et les Tusken, un peuple de guerriers sanguinaires, étaient des espèces originaires de la
    planète.
    </p>



    <h2>Histoire</h2>
    <h3>Ère Républicaine</h3>
    <p>
    Trente deux ans avant la bataille de Yavin, la Reine de Naboo, Padmé Amidala, alors en fuite vers Coruscant pour
    dénoncer le Blocus de Naboo organisée par la Fédération du commerce dut se poser sur Tatooine. En effet,
    l'Hyperdrive de son vaisseau avait lâché et elle envoya le Maître Jedi Qui-Gon Jinn pour en trouver un autre.
    </p>

    <h3>Guerre Civile Galactique</h3>
    <p>
    Peu après la destruction de l'Étoile de la Mort par l'Alliance Rebelle, l'Empire Galactique décida de nouer des
    liens commerciaux avec le Clan Hutt de Jabba, la principale puissance de la Bordure Extérieure. Des négociations
    devaient avoir lieu sur Cymoon 1, l'une des principales usines de l'Empire. Ayant découvert l'existence de cette
    réunion, l'Alliance décida d'envoyer des agents qui se firent passer pour les émissaires du Hutt et détruisirent
    l'installation impériale.
    </p>

    <p>
    Face à cet échec, et voulant punir Dark Vador qui n'avait pas réussi à repousser les rebelles, l'Empereur Galactique
    Sheev Palpatine ordonna à ce dernier de se rendre en personne sur la planète pour poursuivre les négociations. Vador
    profita de cette occasion et ordonna secrètement au Hutt de lui présenter ses deux meilleurs chasseurs de primes, le
    Wookiee Krrsantan le Noir et Boba Fett. Vador chargea Fett de lui amener le pilote qui avait trouvé l'Étoile de la
    Mort, Luke Skywalker, et chargea Krrsantan le Noir de trouver un mystérieux agent de l'Empereur, Cylo et le lui
    amener.
    </p>
</article>