*{
  /*background-color:black;*/
}

body {
  margin : 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*color:white;*/
}

nav , #navUser, #navEnd{
  display: flex;
}

h1{
  text-align: center;
  padding-top: 10px;
}

nav #navLogo {
    max-height: 65px;
}

footer #footerLogo {
  max-width: 100%;
}

nav .navIcon{
  max-height: 35px;
}
nav #navCartHamburger{
  margin-left: auto;
  margin-block: auto;
  padding-right: 10px;
  gap: 5px;
}

label{
	display: block;
	width: 150px;
	float: left;
}

#profile{
  padding: 24px;
  padding-top: 70px;

}

#btn{
text-align: center;
}

#profile, label, input{
  
}