*{
  background-color:;
}

body {
  margin : 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:;
}

nav , #navUser, #navEnd{
  display: flex;
}

nav #navLogo {
    max-height: 65px;
}

nav .navIcon{
  max-height: 35px;
}
nav #navCartHamburger{
  margin-left: auto;
  margin-block: auto;
  padding-right: 10px;
  gap: 5px;
}
