@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100vw;
  color: white;
  background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778447/imgAccueil2_regvr4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  /* background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761246/StarStonks/classesPage/background_img/eso1211a_nsl5pp.jpg); */

  /* background-image: url("https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778891/imgAccueil_yvz3sq.jpg"); */
  padding-top: 25px;
  /* height: 731px; */
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #FAFF09;
  
  
}

h2 {
  color: #FAFF09;
  text-align: center;
  padding-top: 30px;
}

#navLogo {
  max-height: 65px;
}

#footerLogo {
  max-width: 100%;

}

#navMin,
#navUser,
#navEnd {
  display: flex;
}

nav {
  /* background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761246/StarStonks/classesPage/background_img/eso1211a_nsl5pp.jpg); */
  /* background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778447/imgAccueil2_regvr4.jpg); */
  /* background-image: url("https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778891/imgAccueil_yvz3sq.jpg"); */
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.90);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
  height: 65px;
}

.navIcon {
  max-height: 35px;
}

#navCartHamburger {
  margin-left: auto;
  margin-block: auto;
  padding-right: 10px;
  gap: 5px;
}

#navMax img {
  width: 50px;
  margin-left: 10px;
}

#navMax div{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  font-size: 24px;
  font-family: 'Mochiy Pop One';
  text-shadow: 1px 1px 1px white;
  color: #ffdc00;
}

#navMax a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
}


footer {
  right: 0px;
  left: 0px;
  bottom: 0;
  background-color: gray;
  margin-top: auto;
}

footer a {
  color: #c6c6c6;
}

/* 
##          ###    ##    ##  #######  ##     ## ######## 
##         ## ##    ##  ##  ##     ## ##     ##    ##    
##        ##   ##    ####   ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
##       #########    ##    ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
######## ##     ##    ##     #######   #######     ##     */

/* ----------------------------------------------------------------LAYOUT------------------------------------------------------------------ */
/* ----------------------------------------------------------------HOMEPAGE------------------------------------------------------------------ */
.homepage {
  display: flex;
  flex-direction: column;
}

.homepage form {
  border: solid 2px;
  border-radius: 25px;
  padding: 1rem;
}

.homepage label {
  text-align: center;
  width: 100%;
  margin-block: 10px;
}

.homepage select {
  display: block;
  margin-inline: auto;
}

.homepage a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage a input {
  margin-block: 20px;
  padding-inline: 20px;
  margin-inline: auto;
}

ul {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.planete img {
  max-width: 50%;
}

.planete li {
  list-style: none;
  margin-bottom: 5rem;
  margin-inline: 50px;
}

.planete a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.planete {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

/* ----------ENIGME OPTIONNELLE----------- */

.enigme img {
  max-width: 50px;
  margin-left: 60vw;
  position: relative;
}

/* ---------------------------------------- */

/* ----------------------------------------------------------------CLASSES------------------------------------------------------------------ */
.classes {
  text-align: center;
  /* background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658761246/StarStonks/classesPage/background_img/eso1211a_nsl5pp.jpg); */
  /* background-image: url(https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778447/imgAccueil2_regvr4.jpg); */
  /* background-image: url("https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778891/imgAccueil_yvz3sq.jpg"); */
}

.classes img {
  max-width: 60vw;
}

.classes ul {
  margin-block: 20px;
}

.classes .gold,
.classes .gold h2 {
  color: rgb(255, 228, 52);
}

.classes .silver,
.classes .silver h2 {
  color: silver;
}

.classes .bronze,
.classes .bronze h2 {
  color: rgb(145, 110, 24);
}

/* ----------------------------------------------------------------PROFILE------------------------------------------------------------------ */
 .file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  
} 

#editProfileImg {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 50px;
  margin-top: 40px;
  
}

#showProfile label{
  height: 100px;
}

#bottomProfile{

}

#profile .defautImageProfile {
  height: 75px;
  width: 75px;
  position: absolute
}

#profile #image {
  color: black;
}

#profile input{
  border-bottom: 0.125rem solid #a0a0a0;
}


label {
  display: block;
  width: 150px;
  float: left;
}

#profile {
  margin: 20px;
  margin-top: 20px;
  background-color: #2f2f30;
  color: #a0a0a0;

}

#btn {
  text-align: center;
  margin-top: 100px;
}

#profile,
label,
input,
select {
  font-size: 14px;
  margin-top: 10px;

}

#bottomProfile{
 margin-top: 50px;
}

input,
select {
  background-color: initial;
  border: none;
  color: #fff;
}

button {
  cursor: pointer;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* ----------------------------------------------------------------RESULTS------------------------------------------------------------------ */
/* ----------------------------------------------------------------CART------------------------------------------------------------------ */

/* ----------------------------------------------------------------LOGIN------------------------------------------------------------------ */
/* ----------------------------------------------------------------LOGOUT------------------------------------------------------------------ */
/* ----------------------------------------------------------------PAYMENT------------------------------------------------------------------ */
/* ----------------------------------------------------------------RESERVATION------------------------------------------------------------------ */
/* ----------------------------------------------------------------SINGNUP------------------------------------------------------------------ */
/* ----------------------------------------------------------------ERROR------------------------------------------------------------------ */
/* ----------------------------------------------------------------NOT_FOUND------------------------------------------------------------------ */